* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myfont;
    src: url("Fonts/Louis\ George\ Cafe\ Bold\ Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: sticky;
    src: url("Fonts/Sticky\ Notes.ttf") format("truetype");
}

Assignment {
    background-color: #c3dbd9;
    font-size: 80%;
    margin: 5px;
    font-family: myfont;
}

heading {
    margin-top: 5%;
    display: block;
}

title,
group {
    display: block;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
    color: #bb6464;
    font-family: sticky;
}

category {
    width: 80%;
    margin: 0 auto;
    background-color: #a1b57d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffeddb;
    font-size: 20px;
    border-radius: 20px;
}

container {
    width: 80%;
    margin: 10px auto;
}

student {
    width: 67%;
    margin: 10px auto;
    padding: 0.5rem;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

name {
    padding-left: 18px;
}

table {
    display: table;
    font-size: 14px;
    width: 60%;
    margin: auto;
    margin-top: 5%;
}

table-heading,
table-row {
    display: table-row;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

table-heading {
    background-color: #a1b57d;
    color: #ffeddb;
    border-radius: 20px;
}

header,
id,
name,
hobbies,
email {
    display: table-cell;
    width: 25%;
    padding: 8px;
}

header {
    border: solid 1px;
    font-size: 26px;
    font-weight: bold;
}

id,
name,
hobbies,
email {
    border: solid 1px;
    border-style: none solid solid solid;
}