/*ROOT*/

* {
    margin: 0;
    padding: 0;
}


/*Font Setting*/

@font-face {
    font-family: myfont;
    src: url("Fonts/Louis\ George\ Cafe\ Bold\ Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: sticky;
    src: url("Fonts/Sticky\ Notes.ttf") format("truetype");
}

Assignment {
    background-image: url("Fonts/background2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 80%;
    font-family: myfont;
}

heading {
    margin-top: 5%;
    display: block;
}

title,
group {
    display: block;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
    color: #bb6464;
    font-family: sticky;
}

table {
    display: table;
    font-size: 14px;
    width: 60%;
    margin: auto;
    margin-top: 5%;
}

table-heading,
table-row {
    display: table-row;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

table-heading {
    background-color: #a1b57d;
    color: #ffeddb;
    border-radius: 20px;
}

header,
id,
name,
hobbies,
html {
    display: table-cell;
    width: 25%;
    padding: 8px;
}

header {
    border: solid 1px #000;
    font-size: 26px;
    font-weight: bold;
}

id,
name,
hobbies,
html {
    border: solid 1px;
    border-style: none solid solid solid;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}

id:hover,
name:hover,
hobbies:hover,
html:hover {
    background-color: #873e23;
    color: #ffeddb;
    border: solid 1px #000;
}

a {
    text-decoration: none;
    color: #000;
}