* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myfont;
    src: url("Fonts/Louis\ George\ Cafe\ Bold\ Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: sticky;
    src: url("Fonts/Sticky\ Notes.ttf") format("truetype");
}

Assignment {
    background-color: #c3dbd9;
    font-size: 80%;
    margin: 5px;
    font-family: myfont;
}

title,
group {
    display: block;
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
    color: #bb6464;
    font-family: sticky;
}

category {
    width: 80%;
    margin: 0 auto;
    background-color: #a1b57d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffeddb;
    font-size: 20px;
    border-radius: 20px;
}

container {
    width: 50%;
    margin: 10px auto;
}

student {
    width: 50%;
    margin: 10px auto;
    padding: 0.5rem;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

name {
    padding-left: 18px;
}